[{lager, [
  {log_root, "./log"},
  %% Default handlers for lager/lager_event
  {handlers, [
    {lager_console_backend, [{level, info}]},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]},

  %% Any other sinks
  {extra_sinks,
    [

      {lagerConsole_lager_event,
        [{handlers,
          [
            {lager_console_backend, [{level, info}]}
          ]
        }]
      },

      {joinerLager_lager_event,
        [{handlers,
          [
            {lager_console_backend, [{level, error}]},
            {lager_file_backend, [{file, "joiner.log"}, {level, info}, {formatter, lager_default_formatter},
              {formatter_config, [time," [",severity,"] ",pid, " ", message, "\n"]}]}
          ]
        }]
      },

      {fixerLager_lager_event,
        [{handlers,
          [
            {lager_file_backend, [{file, "fixer.log"}, {level, info}, {formatter, lager_default_formatter},
              {formatter_config, [time, pid, " ", message, "\n"]}]}
          ]
        }]
      },

      {checkerLager_lager_event,
        [{handlers,
          [
            {lager_file_backend, [{file, "checker.log"}, {level, info}, {formatter, lager_default_formatter},
              {formatter_config, [time, pid, " ", message, "\n"]}]}
          ]
        }]
      },

      {routerLager_lager_event,
        [{handlers,
          [
            {lager_file_backend, [{file, "router.log"}, {level, info}, {formatter, lager_default_formatter},
              {formatter_config, [time, pid, " ", message, "\n"]}]}
          ]
        }]
      },

      {inout_lager_event,
        [{handlers,
          [
            {lager_file_backend, [{file, "in_out.log"}, {level, info}, {formatter, lager_default_formatter},
              {formatter_config, [time, pid, " ", message, "\n"]}]}
            ]
          }]
        },

      {unexpected_lager_event,
        [{handlers,
          [
            {lager_console_backend, [{level, error}]},
            {lager_file_backend, [{file, "unexpected.log"}, {level, error}, {formatter, lager_default_formatter},
              {formatter_config, [time," [",severity,"] ",pid, " ", message, "\n"]}]}
          ]
        }]
      }

    ]
  }

]}].