{erl_opts,
    [debug_info,
        {parse_transform, lager_transform},
        {lager_extra_sinks, [inout, unexpected, lagerConsole, joinerLager, fixerLager, checkerLager, routerLager]}
    ]
}.
{deps,
    [
        {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", "master"}}
    ]
}.

{shell, [
   {config, "./app.config"},
    {apps, [echo_rd]}
]}.






























